﻿@page "/i18nexample"
@using System.Globalization
@using NewInternationalization.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localization> Loca

<CultureSelector />

<h1>@Loca["InterExampleHeader"]</h1>
<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>
<h2>@Loca["RendValuesHeader"]</h2>
<ul>
    <li><b>@Loca["Date"]</b>: @dt</li>
    <li><b>@Loca["Number"]</b>: @number.ToString("N2")</li>
</ul>
<h2><code>&lt;input&gt;</code> elements that don't set a <code>type</code></h2>
<p>
    The following <code>&lt;input&gt;</code> elements use
    <code>CultureInfo.CurrentCulture</code>.
</p>
<ul>
    <li><label><b>@Loca["Date"]:</b> <input @bind="dt" /></label></li>
    <li><label><b>@Loca["Number"]:</b> <input @bind="number" /></label></li>
</ul>
<h2><code>&lt;input&gt;</code> elements that set a <code>type</code></h2>
<p>
    The following <code>&lt;input&gt;</code> elements use
    <code>CultureInfo.InvariantCulture</code>.
</p>
<ul>
    <li><label><b>@Loca["Date"]:</b> <input type="date" @bind="dt" /></label></li>
    <li><label><b>@Loca["Number"]:</b> <input type="number" @bind="number" /></label></li>
</ul>
@code {
    private DateTime dt = DateTime.Now;
    private double number = 1999.69;
}
